palettable==3.1.1
wordcloud==1.5.0
plotly_express==0.3.1
seaborn==0.8
requests==2.21.0
folium==0.9.1
geopandas==0.5.0
matplotlib==2.0.2
missingno==0.4.1
plotly==3.10.0
pandas==0.23.4
Fiona==1.8.6
branca==0.3.1
ipython==7.6.1
Pillow==9.0.1
